<head>
  <title> About Us! </title>
</head>
<body>
<h1> Our Team </h1>
<div class="row">
  <!-- Profile Card 1 -->
  <div class="card col-md-3">
  <img class="image-responsive" src="assets/images/Akmal.jpg" alt="dp Akmal" height="" width="">
  <p class="name">
    Nama : Akmal Nusa Bhakti
  </p>
  <p>
    NIM : 00000031187
  </p>
  </div>

  <!-- Profile Card 2 -->
  <div class="card col-md-3">
    <img class="image-responsive" src="assets/images/Ryo.jpg" alt="dp Ryo" height="" width="">
    <p class="name">
      Nama : Aurelius Ryo Wang
    </p>
    <p class="nim">
      NIM : 00000033031
    </p>
    </div>

  <!-- Profile Card 3 -->
  <div class="card col-md-3">
    <div class="card-img-top">
    <img class="img-responsive" src="assets/images/Ando.jpg" alt="dp Ando" height="" width="">
    </div>
    <p class="name">
      Nama : Julando Omar
    </p>
    <p class="nim">
      NIM : 00000027458
    </p>
    </div>

  <!-- Profile Card 4 -->
  <div class="card col-md-3">
    <img class="image-responsive" src="assets/images/dean.jpg" alt="dp Dean" height="" width="">
    <p class="name">
      Nama : Irredeano
    </p>
    <p class="nim">
      NIM : 00000033616
    </p>
    </div>
  </div>
