<div class="container-fluid py-5 px-5 my-3">
  <h1 class="main">About Us</h1>
  <div class="d-flex p-2 bd-highlight"></div>
<div class="row">
  <!--Profile Akmal-->
  <div class="col-md-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/images/Akmal.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Akmal Nusa Bhakti</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
    </div>
  </div>
  </div>
  
  <!--Profile Ryo-->
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/Ryo.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Aurelius Ryo Wang</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>
  </div>

  <!--Profile Irredeano-->
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/dean.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Irredeano</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>
  </div>

  <!--Profile Julando-->
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="assets/images/Ando.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Julando Omar</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
    </div>
  </div>

</div>
</div>