<div class="container-fluid">
  <h1>Our Team</h1>
  <div class="card-deck">
    <!-- Profile Card 1 -->
    <div class="card col-md-3 animated slideInUp">
      <div class="card-body">
        <div class="profile-p">
          <img
            class="image-responsive"
            src="../../assets/images/Akmal.jpg"
            alt="dp Akmal"
            height=""
            width=""
          />
        </div>
        <h3 class="name">
           Akmal Nusa Bhakti
        </h3>
        <h5>
           00000031187
        </h5>
      </div>
    </div>

    <!-- Profile Card 2 -->
    <div class="card col-md-3 animated slideInUp delay-1s">
      <div class="card-body">
        <div class="profile-p">
          <img
            class="image-responsive"
            src="../../assets/images/Ryo.jpg"
            alt="dp Ryo"
            height=""
            width=""
          />
        </div>
        <h3 class="name">
          Aurelius Ryo Wang
        </h3>
        <h5 class="nim">
           00000033031
        </h5>
      </div>
    </div>

    <!-- Profile Card 3 -->
    <div class="card col-md-3 animated slideInUp delay-2s">
      <div class="card-body">
        <div class="profile-p">
          <img
            class="img-responsive"
            src="../../assets/images/Ando.jpg"
            alt="dp Ando"
            height=""
            width=""
          />
        </div>
        <h3 class="name">
          Julando Omar
        </h3>
        <h5 class="nim">
          00000027458
        </h5>
      </div>
    </div>

    <!-- Profile Card 4 -->
    <div class="card col-md-3 animated slideInUp delay-3s">
      <div class="card-body">
        <div class="profile-p">
          <img
            class="image-responsive"
            src="../../assets/images/dean.jpg"
            alt="dp Dean"
            height=""
            width=""
          />
        </div>
        <h3 class="name">
          Irredeano
      </h3>
        <h5 class="nim">
          00000033616
        </h5>
      </div>
    </div>
  </div>
</div>
