h1{
  margin: 3rem;
  text-align: center;
}

.card{
  width: 18rem;
  text-align: center;
}

.profile-p{
  padding: 0 20%;
  margin-bottom: 2rem;
}

img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
