.login-form {
  width: 50%;
  margin: 50px auto;

  form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    font-size: 14px;

    input[type=text],input[type=password] {
      width: 100%;
    }
  }

  h2 {
    margin: 0 0 15px;
    font-size: 30px;
  }

  .form-control,
  .btn {
    min-height: 38px;
    border-radius: 2px;
  }
  .btn {
    font-size: 15px;
    font-weight: bold;

    :hover{
      transition: blue 0.5s;
    }
  }
  .alert{
    margin: 5px 0 ;
    transition: all 0.5s;
  }
}



input.ng-valid {
  border-left: solid green 4px;
  transition: all 0.5s;
}

