<form class="form-class" [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center">Add Mahasiswa</h2>
    <div class="form-group">
      <label for="mahaName">Nama Lengkap</label>
      <input type="text" class="form-control" formControlName="nama_lengkap" id="mahaName" />
    </div>
    <div class="form-group">
      <label for="mahaFoto">Foto</label>
      <input type="text" class="form-control" formControlName="foto" id="mahaFoto" />
    </div>
    <div class="form-group">
      <label for="mahaNim">Nim</label>
      <input type="number" class="form-control" formControlName="nim" id="mahaNim" />
    </div>
    <div class="form-group">
        <label for="mahaProdi">Prodi</label>
        <input type="text" formControlName="prodi" class="form-control" id="mahaProdi" />
      </div>
    <div class="form-group">
      <label for="mahaAngkatan">Angkatan</label>
      <input type="number" formControlName="angkatan" class="form-control" id="mahaAngkatan" />
    </div>
    <div class="form-group">
      <label for="mahaEmail">Email</label>
      <input type="email" class="form-control" id="mahaEmail" formControlName="email" />
    </div>
    <div class="form-group">
      <label for="mahaAlamat">Alamat </label>
      <input type="text" formControlName="alamat" class="form-control" id="mahaAlamat"/>
    </div>
    <div class="form-group">
        <label for="mahaTanggalLahir">Tangal Lahir</label>
        <input type="date" min="1990-01-01" max="2000-01-01" formControlName="tanggal_lahir" class="form-control" id="mahaTanggalLahir" />
      </div>
    <div class="form-group">
        <label for="mahaTelepon">Telepon </label>
        <input type="text" formControlName="telepon" class="form-control" id="mahaTelepon"/>
      </div>
    <button type="submit" class="btn btn-block btn-primary" [disabled]="!addForm.valid">Submit</button>
  </form>
