  <div class="card w-50 mx-auto animated slideInUp" >
    <img src={{mahasiswaDetail.result.foto}} class="card-img-top">
    <div class="card-body">
        <div class="row">
      <div class="col-md-7">
        <h2>{{mahasiswaDetail.result.nama_lengkap}}</h2>
      </div>

      <div class="col">
       <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detail" (click)="updateVal()">Detail Mahasiswa</button>
        </div>
    </div>
  </div>

</div>
<div class="modal fade" id="detail" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detail</h5>
        </div>
        <div class="modal-body">
          <div class="profile" *ngIf="mahaUpdate == false">
            <div class="row">
              <div class="col-2">Nim</div>
              <div class="col">{{mahasiswaDetail.result.nim}}</div>
            </div>
            <div class="row">
                <div class="col-2">Prodi</div>
                <div class="col">{{mahasiswaDetail.result.prodi}}</div>
            </div>
            <div class="row">
                <div class="col-2">Angkatan</div>
                <div class="col">{{mahasiswaDetail.result.angkatan}}</div>
            </div>
            <div class="row">
                <div class="col-2">email</div>
                <div class="col">{{mahasiswaDetail.result.email}}</div>
            </div>
            <div class="row">
                <div class="col-2">alamat</div>
                <div class="col">{{mahasiswaDetail.result.alamat}}</div>
            </div>
            <div class="row">
                <div class="col-2">telepon</div>
                <div class="col">{{mahasiswaDetail.result.telepon}}</div>
            </div>
          </div>
          <div class="update-form" *ngIf="mahaUpdate == true">
              <form [formGroup]="updateMahaForm" (ngSubmit)="onSubmit()">
                <h2 class="text-center">Update profile</h2>
                <div class="form-group">
                  <label for="mahaName">Nama Lengkap</label>
                  <input type="text" class="form-control" formControlName="nama_lengkap" id="mahaName" />
                </div>
                <div class="form-group">
                  <label for="mahaFoto">Foto</label>
                  <input type="text" class="form-control" formControlName="foto" id="mahaFoto" />
                </div>
                <div class="form-group">
                  <label for="mahaNim">Nim</label>
                  <input type="number" class="form-control" formControlName="nim" id="mahaNim" />
                </div>
                <div class="form-group">
                    <label for="mahaProdi">Angkatan</label>
                    <input type="text" formControlName="prodi" class="form-control" id="mahaProdi" />
                  </div>
                <div class="form-group">
                  <label for="mahaAngkatan">Angkatan</label>
                  <input type="number" formControlName="angkatan" class="form-control" id="mahaAngkatan" />
                </div>
                <div class="form-group">
                  <label for="mahaEmail">Email</label>
                  <input type="email" class="form-control" id="mahaEmail" formControlName="email" />
                </div>
                <div class="form-group">
                  <label for="mahaAlamat">Alamat </label>
                  <input type="text" formControlName="alamat" class="form-control" id="mahaAlamat"/>
                </div>
                <div class="form-group">
                    <label for="mahaTanggalLahir">Tangal Lahir</label>
                    <input type="date" min="1990-01-01" max="2000-01-01" formControlName="tanggal_lahir" class="form-control" id="mahaTanggalLahir" />
                  </div>
                <div class="form-group">
                    <label for="mahaTelepon">Telepon </label>
                    <input type="text" formControlName="telepon" class="form-control" id="mahaTelepon"/>
                  </div>
                <button type="submit" class="btn btn-block btn-primary" [disabled]="!updateMahaForm.valid">Submit</button>
              </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="mahaUpdate = false">Close</button>
          <button type="button" class="btn btn-secondary" (click)="mahaUpdate = true" *ngIf="mahaUpdate == false">Update Mahasiswa</button>
        </div>
      </div>
    </div>
  </div>

