<div class="container py-3" *ngIf="mahasiswaDetail != null">
  <div class="card w-50 mx-auto">
    <img src={{mahasiswaDetail.result.foto}} class="card-img-top">
    <div class="card-body">
        <div class="row">
      <div class="col-md-7">
        <h2>{{mahasiswaDetail.result.nama_lengkap}}</h2>
      </div>

      <div class="col">
       <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#detail">Detail Mahasiswa</button>
        </div>
    </div>
  </div>

</div>
<div class="modal fade" id="detail" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detail</h5>
        </div>
        <div class="modal-body">
          <p>Nama : {{mahasiswaDetail.result.nim}}</p>
          <p>email :{{mahasiswaDetail.result.email}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
