<<<<<<< HEAD
.container{
  min-height: 100vh;
}
=======
>>>>>>> bd8c4bbdf63d789869657002981b9ded9d5b1bc1
.update-form {
  width: 50%;
  margin: 2rem auto;
  box-shadow:  2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 10px;
}
