@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.container-fluid {
  text-align: center;
  right: 1em;
  left: 1em;
  top: 5em;
  margin-top: 7rem;
}

.card {
  text-align: center;
  padding: 2.5rem;
  margin: 14vh 0;
  opacity: 85%;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
