@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.container-fluid {
  text-align: center;
  right: 1em;
  left: 1em;
  top: 5em;
  margin-top: 7rem;
  min-height: 80.7vh;
}

.card {
  text-align: center;
  padding: 2.5rem;
  margin: 14vh 0;

}



